/*generals*/
body {
    font-size: 20px;
}

/*header*/
#banner {
    height: 150px;
    background-color:cornflowerblue;
    background-image: url(../img/pattern.png);
}

#logo {
    width: 400px;
}

#booleaner {
    color:deepskyblue;
}

h1 {
   font-size: 80px;
   border-bottom: 0%;
}

.caption {
    font-size: 30px;
}

.italic {
    font-style: italic;
}

/*foto*/
figcaption {
    font-size: 15px;
}

/*corpo*/
.highlight {
    background-color:yellow;
}

/*tabella*/
table {
    border: none;
    text-align: left;
}

thead {
    background-color: cornflowerblue;
    line-height: 15px;
    color: white;
}

td {
    height: 50px;
}

th {
    width: 100px;
    height: 25px;
}

.light-blue {
    background-color:lightblue;
}

/*footer*/
.link {
    margin: 10px;
    height: 200px;
    width: 200px;
    background-image: url(../img/monitor.jpg);
    color: white;
}

#link-2 {
    background-image: url(../img/graph.jpg);
}
