#banner {
    height: 150px;
    background-color:cornflowerblue;
    background-image: url(../img/pattern.png);
}

#logo {
    width: 400px;
}

h1 {
   font-size: 80px;
   border-bottom: 0%;
}

.caption {
    font-size: 30px;
}

#booleaner {
    color:deepskyblue;
}

